<pane ng-controller="CardsCtrl">
      <header-bar type="bar-transparent" title="'Promociones'">
      </header-bar>
      <button class="button button-icon icon ion-person" ng-click="home()"></button>

      <swipe-cards>
        <swipe-card on-swipe="cardSwiped()" id="start-card">
          Swipe hacia abajo para una nueva tarjeta
        </swipe-card>
        <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
          <div ng-controller="CardCtrl">
            <div class="title">
              {{card.title}}
            </div>
            <div class="image">
              <img ng-src="{{card.image}}">
            </div>
            <div class="button-bar">
              <button class="button button-clear icon ion-plus button-positive" ng-click="goAway({{card.id_promo}})"> Mas info</button>
            </div>
          </div>
        </swipe-card>
      </swipe-cards>
    </pane>