<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Ionic Seed App</title>

    <!-- ionic css -->
    <link href="lib/css/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- angularjs scripts -->
    <script src="lib/js/ionic.js"></script>
    <script src="lib/js/angular/angular.js"></script>
    <script src="lib/js/angular/angular-animate.js"></script>
    <script src="lib/js/angular/angular-sanitize.js"></script>
    <script src="lib/js/angular/angular-touch.js"></script>
    <script src="lib/js/angular-ui/angular-ui-router.js"></script>
    <script src="lib/js/ionic-angular.js"></script>

    <!-- cordova script -->
    <script src="cordova.js"></script>

    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/ionic.cards.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body ng-app="starter" animation="slide-left-right-ios7" no-scroll>
    <pane ng-controller="CardsCtrl">
      <header-bar type="bar-transparent" title="'Promociones'">
      </header-bar>
      <button class="button button-icon icon ion-person" ng-click="home()"></button>

      <swipe-cards>
        <swipe-card on-swipe="cardSwiped()" id="start-card">
          Swipe hacia abajo para una nueva tarjeta
        </swipe-card>
        <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-swipe="cardSwiped($index)">
          <div ng-controller="CardCtrl">
            <div class="title">
              {{card.title}}
            </div>
            <div class="image">
              <img ng-src="{{card.image}}">
            </div>
            <div class="button-bar">
              <a class="button button-clear icon ion-plus button-positive" ui-sref="app.promo.detail()"> Mas info</a>
            </div>
          </div>
        </swipe-card>
      </swipe-cards>
    </pane>

    <ion-nav-view name="promo"></ion-nav-view>
  </body>
</html>
